.footer {
  background-color: #ececec; 
  color: #333; 
  padding: 20px; 
  text-align: center; 
  position: fixed; 
  width: 100%; 
  bottom: 0; 
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
  border-top: 1px solid #ccc;
}
