
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  width: 90%;
  margin: 50px auto; 
  padding: 50px;
  text-align: center;
  border: 8px double var(--secondary-color) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: var(--background-color);
}


.profile {
  text-align: center;
  margin-bottom: 20px;
}

.bio {
  max-width: 800px;
  margin: 0 auto; 
  text-align: center;
}

.bio p {
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 20px;
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid var(--secondary-color);
}

h2, h3 {
  color: var(--primary-color);
}

.bio, .skills, .self-taught {
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.self-taught .courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.self-taught .course {
  text-align: center;
  width: calc(33.33% - 20px);
}

.self-taught .course img {
  width: 100%;
  height: 150px;
  object-fit: cover; 
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.self-taught .course img:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.self-taught .course p {
  margin-top: 10px;
  font-size: 14px;
}


.enlarged {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 90%; 
  max-height: 90%; 
  width: auto;
  height: auto;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}
