

h2 {
  color: black !important; 
  font-weight: bold;
  font-size: 3rem !important;
  text-decoration: underline;
}

.card {
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 20px !important;
  border: 8px double var(--secondary-color) !important;
}

.card:hover {
  transform: translateY(-5px);
  transform: scale(1.05);
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--secondary-color) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card {
  border-radius: 20px; 
  overflow: hidden; 
}

.project-card .card-body {
  padding: 20px;
}

.project-card .card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-title {
  color: var(--primary-color) !important;
}

.projects {
  margin-bottom: 5%;
  margin-top: 2.5%;
  padding: 50px;
}